* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
 }
.link-img {
    margin-right: 8px;
}
.link-h1 {
    font-family: "Jura";
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.075em;  
    margin-right: 24px; 
}
.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00AB38;
    border: 1px solid #00AB38;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #fff;
}
.header-text {
    margin-right: 6px;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    max-width: 493px;
    border: 1px solid #00AB38;
    padding: 13px 392px 14px 16px;
    border-radius: 10px;

}
.icons {
    width: 40px;
    height: 35px;
    padding: 12px 12px 33px 12px;
    border-radius: 0 12px 12px 0;
    color: #fff;
    background-color: #00AB38;
    margin-left: -40px; 
    margin-right: 16px;
}
.right { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-ul {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.right-li {
    list-style: none;
}
.right-li {
    margin-right: 16px;
}
.right-img {
    color: #000;
}
.right-img:hover {
    color: #00AB38;
}
.right-text {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;    
}
.btn {
    background-color: #00AB38;
    border-radius: 10px;
    padding: 12px 32px;
    transition: background-color 0.5s ease;
}
.btn:hover {
    background-color: #fff;
}
.btn-text {
    color: #fff;
    transition: color 0.5s ease;
}
.btn-text:hover {
    color: #00AB38;
}
.nav-ul {
    display: flex;
    list-style: none;
    padding: 12px;
}
.ul-little:not(:last-child) {
    margin-right: 30px;
}
.liittle-link {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
}
.liittle-link:hover {
    color: rgb(241, 91, 64);
}
/* main */
.main {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.main-container {
    box-shadow: 3px 4px 9px 4px #93939340;
    margin-bottom: 56px;
}
.main-necessary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 67px 34px 67px 46px;
}
.necessary-h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 24px;   
}
.necessary-text {
    margin-bottom: 24px;
}
.main-img {
    width: 100%;
    max-width: 530px;
    max-height: 350px;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;    
}
.section-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.section-child-icon {
    display: flex;
}
.icon-text {
    margin-right: 8px;
}
.h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.p-p {
    display: flex;
}
.p {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-right: 8px;
}
.section-2 {
    display: flex;
    margin-bottom: 100px;
}
.section-main:not(:last-child) {
    margin-right: 20px;
}
.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 295px;
    box-shadow: 3px 4px 9px 4px #93939340;
    padding: 20px 46px 12px;
}
.section-main-h2 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 8px;
}
.section-h2-text {
    display: flex;
    margin-bottom: 16px;
}
.text-p {
    margin-right: 24px;
}
.section-main-text {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}
.section-main-text:not(:last-child) {
    margin-bottom: 4px;
}
.section-main-text-1 {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #00AB38;
}
.h2-text-2 {
    margin-left: 24px;
}
.section-main-text-2 {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #a5a5a5;
}
.section-main-text-2:not(:last-child) {
    margin-bottom: 4px;
}
.section-main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #00AB38;
    padding: 12px 32px;
}
.section-btn-text {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;    
    color: #fff;
}
/* section-grid */
.section-grid {
    margin-bottom: 100px;
}
.grid-main {
    font-family: "Inter";
    font-size: 28px;
    font-weight: 700;
    line-height: 34px; 
    margin-bottom: 32px;   
}
.grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-div-child-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-row: 1 / 3;
    width: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/color.svg");
    border-radius: 10px;
}
.grid-div-child-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-column: 3;
    grid-row: 1 / 3;
    width: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/color.svg");
}
.grid-div-child {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    width: 385px;
    background-size: cover;
    background-image: url("../img/color.svg");
    border-radius: 10px;
    padding: 36px 65px 11px;
}
.grid-child-img-1{
    width: 350px;
    padding: 46px 68px 11px;
}
.grid-child-img{
    width: 50%;
}
.grid-child-text {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;    
    color: #fff;
}
.grid-child-text {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
/* section-3 */
.section-3 {
    margin-bottom: 100px;
}
.section-img {
    width: 100%;
}
.section-3-h2 {
    margin-bottom: 28px;
}
.section-3-img {
    display: flex;
}
.section-img:not(:last-child) {
    margin-right: 20px;
}
/* cta */
.cta-h2 {
    font-family: "Inter";
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 95px; 
}
.cta-img-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 170px;
}
.cta-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cta-img {
    margin-bottom: 16px;
}
.cta-text {
    max-width: 365px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.cta-text:not(:last-child) {
    margin-bottom: 32px;
}
.hr {
    background-color: #00AB38;
    border: 1px solid #00AB38;
    margin-bottom: 35px;
}
/* footer */
.footer-comtainer {
    display: flex;
    justify-content: space-between;
}
.footer-ul {
    list-style: none;
}
.footer-li:not(:last-child) {
    margin-bottom: 16px;
}
.footer-link {
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;  
    transition: color 0.5s ease;  
}
.footer-link:hover {
    color: #00AB38;
}
.link-h1-1 {
    font-family: "Jura";
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.medim-text {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 23px; 
    color: #333;
    margin-bottom: 8px;
}
.text-2 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 12px;
}
.medim-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.medim:not(:last-child) {
    margin-right: 40px;
}
.left {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}
.left-tel {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;    
}
.left-text {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: #333;
    margin-bottom: 12px;
}